@model ZOE.OS.Modelo.Asesor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Asesor</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Paterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paterno)
    </div>

    <div class="display-label">Materno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Materno)
    </div>

    <div class="display-label">Telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">Movil</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Movil)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Area</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area.AreaDescr)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">ConfirmPassword</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmPassword)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AsesorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
