@{
    ViewBag.Title = @ZOE.OrdenesServicio.Views.Account.AccountResource.CPPaginaTitulo;
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ZOE.OrdenesServicio.Views.Account.AccountResource.CPPaginaTitulo</h2>
<p>
    @ZOE.OrdenesServicio.Views.Account.AccountResource.CPCambioPassExitoso
</p>

<p></p>

@*@if (@ViewBag.Asesor == 1)
{
    @Html.ActionLink("Regresar", "ListaServiciosPropias", "AsesorSeguimiento")
}
else
{
    @Html.ActionLink("Regresar", "ListaServiciosPropias", "ContactoSeguimiento")
}*@