@using Infragistics.Web.Mvc
@model IQueryable<ZOE.OS.Modelo.Model.Complex.OSSeguimiento>

@{
    ViewBag.Title = Resources.SOResource.VerParticipoTituloPagina;
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@Resources.SOResource.VerParticipoTituloPagina</h2>

<script type="text/javascript">
    var rowSeleccionado;

    $(function () {
        $("#lista-servicio-seguimiento")
        .button()
        .click(function () {
            if (rowSeleccionado == null) {
                alert('@Resources.SOResource.MsgSelecTicketSeguimiento')
                return false;
            }
        });
    });


    $('#gdOrdenes').live('iggridselectionrowselectionchanged', function (event, args) { RowSelectionChanged(args.row.index); });

    function RowSelectionChanged(row) {
        rowSeleccionado = row;
        var cell = $("#gdOrdenes").igGrid('cellAt', 0, row);
        var ticket = $(cell).text();
        $('input[name=ticketid]').val(ticket);
    }

</script>

@if (Model.Count() > 0)
{
     @(Html.Infragistics().Grid<ZOE.OS.Modelo.Model.Complex.OSSeguimiento>()
       .ID("gdOrdenes")
       .AutoGenerateColumns(false)
       .PrimaryKey("Ticket")
       .Columns(column =>
       {
           column.For(x => x.Ticket).DataType("long").HeaderText("No. Ticket");
           column.For(x => x.Descripcion).HeaderText(Resources.SOResource.Descripcion);
           column.For(x => x.Status).DataType("string").HeaderText(Resources.SOResource.Status);
           column.For(x => x.Asesor).HeaderText(Resources.SOResource.AsesorResponsable);
           column.For(x => x.Fecha).Format("dateTime").HeaderText(Resources.SOResource.FechaRegistro);
           column.For(x => x.FechaUlitmoMovimiento).Format("dateTime").HeaderText(Resources.SOResource.FechaUltMovimiento);
       })
        .Features(features =>
        {
            features.Selection().Activation(true).Mode(SelectionMode.Row).MultipleSelection(false);
            features.Paging()
               .ShowPageSizeDropDown(false)
               .ShowPagerRecordsLabel(false)
                .PageSize(10)
            .PrevPageLabelText(Resources.SOResource.Anterior)
            .NextPageLabelText(Resources.SOResource.Siguiente)
            .PageSizeDropDownLabel(Resources.SOResource.Mostrar)
            .PageSizeDropDownTrailingLabel(Resources.SOResource.Registros);
            features.Filtering()
                .Mode(FilterMode.Simple)
                .RenderFitlerButton(true)
                .ShowEmptyConditions(false)
                .ShowNullConditions(false)
                .RenderFitlerButton(true)
                .Type(OpType.Remote);
            features.Sorting().Mode(SortingMode.Single).ColumnSettings(settings =>
            {
                settings.ColumnSetting().ColumnKey("Ticket").AllowSorting(true);
            });
        })
             .DataSourceUrl(Url.Action("ListaServicios"))
        .DataBind()
        .Render()
       )

   <p></p>
   
   using (Html.BeginForm("VerSeguimiento", "ContactoSeguimiento", FormMethod.Post))
   {
      <input type="hidden" id='ticketid' name='ticketid' value='' /> 
      <input type="submit" id='lista-servicio-seguimiento' title='@Resources.SOResource.tipBotonSeguimiento' name="btnSubmit" value="@Resources.SOResource.Seguimiento"/>
   }

}
else
{
    <p>@Resources.SOResource.NoRegistros</p>
}
   
        