@model IEnumerable<ZOE.OS.Modelo.OSStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Descr
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OSStatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OSStatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OSStatusId })
        </td>
    </tr>
}

</table>
